{
    "mongoose": {
        "uri": "mongodb://"
    },
    "log": {
        "file": "app/logs/log.txt"
    },
    "http": {
        "port": 3000
    },
    "rollbarAccessToken": "",
    "loggly": {
        "subdomain": "",
        "inputToken": "",
        "username": "",
        "password": ""
    }
}
